#sidebar {
	width: 30%;
	height: 100vh;
	border-right: 2px solid #F1F1F1;
	position: relative;
}

#bar {
	position: absolute;
	top: 15px;
	left: 15px;
}

#bg-image {
	width: 100%;
	height: 120px;
	cursor: pointer;
	background-image: url(../img/background-image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#user {
	position: absolute;
	left: 0;
	top: 80px;
	width: 100%;
	padding: 0 15px;
}

#profile-picture {
	width: 80px;
	height: 80px;
	border-radius: 5px;
	cursor: pointer;
	background-image: url("../img/profile-picture.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#user-name,
#user-title {
	outline: none;
	border: none;
	font-family: "JetBrains Mono";
	width: 90%;
}

#user-name {
	margin-top: 20px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

#user-title {
	margin-top: 10px;
	text-transform: capitalize;
}

@media (max-width: 480px) {
	main {
		display: block;
		position: relative;
	}

	#sidebar {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		border: none;
		background-color: white;
	}
}
