@import "sidebar.css";
@import "notepad.css";

@font-face {
	font-family: "JetBrains Mono";
	src: url(../fonts/JetBrainsMono.woff);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

svg {
	cursor: pointer;
	fill: #3A3845;
}

.hide {
	display: none;
}

main {
	width: 100%;
	height: 100vh;
	display: flex;
}

#app {
	width: 100%;
	height: 100vh;
}
